/*Auth Content*/
.floating-section{
    position: relative;
    z-index: 3;
    margin-bottom: 200px;
    .floating-section-content{
        margin-top: -100px;
        @media screen and (max-height: 850px){
            margin-top: -50px;
        }

        .auth_bg{
            height: 100%;
            display: flex;
            align-items: center;
            img{
                max-width: 70%;
            }
        }

        .auth_content{
            .form-check-input{
                width: 30px;
                height: 30px;
                appearance: auto;
            }
            .form-check-label{
                padding-left: 10px;
                line-height: 40px;
            }
        }
    }
}
