/* Features */
.page_features{
    .page_features_content{
        .feature_items{
            .img{
                @media screen and (max-width: 575px) {
                    padding: 0 16px;
                }
                img{
                    width: 100%;
                    height: 412px;
                    object-fit: cover;
                }
            }
            .content{
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 0 40px;
                @media screen and (max-width: 991px) {
                    padding: 20px 0;
                }
                @media screen and (max-width: 575px) {
                    padding: 20px 16px;
                }
                .title{
                    font-size: 30px;
                    font-weight: 700;
                    @media screen and (max-width: 575px) {
                        font-size: 24px;
                    }
                }
                .desc{
                    margin-top: 10px;
                    color: var(--theme-color-gray);
                }
            }
        }
    }
}


/* How It Works */
.page_works{
    .page_works_content{
        .work_items{
            .content{
                height: 100%;
                width: 100%;
                background-color: var(--color-black);
                border-radius: 8px;
                padding: 40px 0;
                text-align: center;
                .icon{
                    font-size: 30px;
                    color: var(--color-white);
                }
                .title{
                    padding: 0 20px;
                    color: var(--theme-color);
                    margin: 15px 0;
                    @media screen and (max-width: 767px) {
                        padding: 0 10px;
                    }
                }
                .desc{
                    padding: 0 40px;
                    color: var(--color-white);

                    @media screen and (max-width: 767px){
                        padding: 0 20px;
                    }
                }
            }
        }
    }
}
