/* Home Banner */
.home_banner {
    width: 100%;
    display: block;
    position: relative;

    .video-bg {
        width: 100%;
        display: block;
        position: absolute;
        height: 100vh;
        overflow: hidden;
        background-color: var(--color-black);
        top: 0;
        left: 0;
        z-index: 1;

        video {
            width: 100%;
            display: block;
            height: 100vh;
            object-fit: cover;
        }
    }

    .home_banner_screen {
        width: 100%;
        height: 100vh;
        /*background-color: rgba(#000000, 0.6);*/
        z-index: 2;
        display: block;
        position: relative;
    }

    .home_banner_content {
        width: 100%;
        height: 100vh;
        align-items: center;
        position: relative;

        .banner-positioned {
            position: absolute;
            bottom: 80px;
            left: 0;
        }

        .banner_preview {
            width: 100%;
            display: inline-block;
            position: relative;
            z-index: 1;
            padding: 20px;

            .title {
                width: 100%;
                display: inline-block;
                font-size: 50px;
                line-height: 50px;
                font-weight: 800;
                color: var(--color-white);
                text-shadow: 1px 1px 1px var(--color-black);
            }

            .sub_title {
                width: 100%;
                display: inline-block;
                font-size: 50px;
                line-height: 50px;
                font-weight: 800;
                color: var(--color-white);
                text-shadow: 1px 1px 1px var(--color-black);
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 90px;
                height: 100%;
                display: inline-block;
                background-color: var(--theme-color);
                z-index: -1;
                box-shadow: var(--bs-box-shadow-lg) !important;
            }
        }

        .banner_description {
            width: 100%;
            display: inline-block;
            padding-top: 10px;
            padding-left: 100px;
            font-size: 20px;
            line-height: 30px;
            color: var(--color-white);
            text-shadow: 1px 1px 1px var(--color-black);
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 100px;
                width: 100px;
                height: 2px;
                display: inline-block;
                background-color: var(--theme-color);
                z-index: 1;
            }
        }

        .banner_description_left {
            width: 100%;
            display: inline-block;
            padding-top: 10px;
            padding-left: 0;
            font-size: 25px;
            line-height: 30px;
            color: var(--color-white);
            text-shadow: 1px 1px 1px var(--color-black);
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 100px;
                width: 100px;
                height: 2px;
                display: inline-block;
                background-color: var(--theme-color);
                z-index: 1;
            }
        }
    }
}

.certifications {
    width: inherit !important;
}

/* Our Partners */
.our_partners, .certifications {
    width: 100%;
    display: block;
    position: relative;

    .partner_list {
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            width: calc(100% / 7);
            height: 80px;
            display: inline-block;
            margin: 10px;
            padding: 10px;
            border: 2px solid #e5e5e5;
            cursor: pointer;
            //box-shadow: 0 0 5px transparent;

            @media screen and (max-width: 767px) {
                width: calc(100% / 5);
                height: 50px;
            }
            @media screen and (max-width: 480px) {
                width: 40%;
                height: 50px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            @include transition(all 0.2s linear);

            &:hover, &:active, &:focus {
                border: 2px solid var(--theme-color);
                //box-shadow: 0 0 5px #c0c0c0;
                @include transition(all 0.2s linear);
            }
            &.sqr {
                width: 60px;
                height: 60px;
                margin: 5px 10px;
                padding: 0;
                border-radius: 50%;
                overflow: hidden;
                //border: none;
                //box-shadow: none;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}


/* Our Partners */
.our_services {
    width: 100%;
    display: block;
    position: relative;

    .photo_plate {
        width: 100%;
        height: 500px;
        display: inline-block;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            //border-radius: 50px;
        }

        &.photo_plate_middle {
            height: 700px;
        }
        @media screen and (max-width: 767px) {
            height: 350px;
        }
    }

    .service_list {
        h2 {
            font-size: 30px;
            font-weight: 800;
            position: relative;
            letter-spacing: 3px;
            z-index: 1;

            &:before {
                content: '';
                position: absolute;
                top: -20px;
                left: -20px;
                z-index: -1;
                width: 50px;
                height: 50px;
                background-color: var(--theme-color);
                display: inline-block;
                box-shadow: var(--bs-box-shadow) !important;
            }

            &:after {
                content: '';
                position: absolute;
                top: -10px;
                left: -10px;
                z-index: -1;
                width: 50px;
                height: 50px;
                background-color: var(--theme-color);
                display: inline-block;
                box-shadow: var(--bs-box-shadow) !important;
            }

            @media screen and (max-width: 767px) {
                font-size: 30px;
            }
        }

        ul {
            li {
                a {
                    width: 100%;
                    text-decoration: none;
                    color: var(--color-black);
                    position: relative;
                    margin-bottom: 10px;
                    display: inline-block;
                    font-size: 20px;
                    padding: 5px 010px;
                    font-weight: bold;
                    //border: 2px solid var(--theme-color);
                    border: 2px solid var(--color-black);
                    background-color: transparent;
                    opacity: 0.7;
                    cursor: pointer;
                    @include transition(all 0.2s linear);
                }

                &:hover, &:active, &:focus {
                    a {
                        opacity: 1;
                        color: var(--color-white);
                        box-shadow: var(--bs-box-shadow) !important;
                        background-color: var(--theme-color);
                        @include transition(all 0.2s linear);
                    }
                }
            }
        }
    }

    .position-absolute-service {
        @media screen and (max-width: 767px) {
            position: absolute;
            z-index: 1;
        }
    }

    .position-relative-service {
        @media screen and (max-width: 767px) {
            position: relative;
            z-index: 2;
            height: 350px;
            background-color: rgba(#ffffff, 0.9);
            border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
            border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
        }
    }

    .our_services_sec_2{
        margin-top: -150px;
        @media screen and (max-width: 767px) {
            margin-top: 0;
        }
    }

    .our_services_sec_3{
        margin-top: -150px;
        @media screen and (max-width: 767px) {
            margin-top: 0;
        }
    }

    .service_tri_shadow_top{
        position: relative;
        .title__triangle{
            position: absolute;
            right: 175px;
            top: -238px;
            width: 504px;
            height: 850px;
            background: #3fc12a linear-gradient(65deg, #3fc12a, #14dfea);
            clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
            transform: rotate(-90deg);
            opacity: 0.6;
            @media screen and (min-width: 2600px) {
                display: none;
            }
            @media screen and (max-width: 2300px) {
                right: 100px;
                top: -113px;
                width: 400px;
                height: 600px;
            }
            @media screen and (max-width: 1920px) {
                right: 100px;
                top: -113px;
                width: 400px;
                height: 600px;
            }
            @media screen and (max-width: 1800px) {
                right: 0;
                top: -13px;
                width: 400px;
                height: 400px;
            }
            @media screen and (max-width: 1600px) {
                right: 0;
                top: -13px;
                width: 400px;
                height: 400px;
            }
            @media screen and (max-width: 1350px) {
                right: -20px;
                top: 62px;
                width: 300px;
                height: 250px;
            }
            @media screen and (max-width: 1050px) {
                right: -20px;
                top: 87px;
                width: 250px;
                height: 200px;
            }
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }
    .service_tri_shadow_middle{
        position: relative;
        .title__triangle{
            position: absolute;
            left: 175px;
            top: -62px;
            width: 504px;
            height: 850px;
            background: #3fc12a linear-gradient(65deg, #3fc12a, #14dfea);
            clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
            transform: rotate(90deg);
            opacity: 0.6;
            @media screen and (min-width: 2600px) {
                display: none;
            }
            @media screen and (max-width: 1920px) {
                left: 100px;
                top: 64px;
                width: 400px;
                height: 600px;
            }
            @media screen and (max-width: 1600px) {
                left: 0;
                top: 162px;
                width: 400px;
                height: 400px;
            }
            @media screen and (max-width: 1280px) {
                left: -20px;
                top: 238px;
                width: 250px;
                height: 250px;
            }
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }
    .service_tri_shadow_bottom{
        position: relative;
        .title__triangle{
            position: absolute;
            right: 175px;
            bottom: -290px;
            width: 504px;
            height: 850px;
            background: #3fc12a linear-gradient(65deg, #3fc12a, #14dfea);
            clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
            transform: rotate(-90deg);
            opacity: 0.6;
            @media screen and (min-width: 2600px) {
                display: none;
            }
            @media screen and (max-width: 2300px) {
                right: 100px;
                bottom: -165px;
                width: 400px;
                height: 600px;
            }
            @media screen and (max-width: 1920px) {
                right: 100px;
                bottom: -165px;
                width: 400px;
                height: 600px;
            }
            @media screen and (max-width: 1800px) {
                right: 0;
                bottom: -65px;
                width: 400px;
                height: 400px;
            }
            @media screen and (max-width: 1600px) {
                right: 0;
                bottom: -65px;
                width: 400px;
                height: 400px;
            }
            @media screen and (max-width: 1390px) {
                right: -20px;
                bottom: 10px;
                width: 300px;
                height: 250px;
            }
            @media screen and (max-width: 1050px) {
                right: -20px;
                bottom: 10px;
                width: 300px;
                height: 250px;
            }
            @media screen and (max-width: 1280px) {
                right: -20px;
                bottom: 10px;
                width: 250px;
                height: 200px;
            }
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }
}

/* Home Research */
.home_research {

    .each-research {
        width: 100%;
        display: block;

        .title {
            //font-size: 45px;
            font-weight: 800;
            color: var(--theme-color);
        }

        .sub_title {
            //font-size: 25px;
            font-weight: 800;
        }
    }

    .each-research-photo {
        text-align: right;
        @media screen and (max-width: 767px) {
            display: none;
        }

        img {
            height: 200px;
            width: 200px;
            object-fit: cover;
            object-position: center;
        }
    }
}

/* Home Research */
.home_research_project, .services-we-provide, .work-motto {
    .project_list {
        width: 100%;
        display: block;

        .title {
            font-size: 25px;
            font-weight: 800;
            color: var(--theme-color);
        }

        .sub_title {
            /*font-weight: 800;*/
        }

        ul {
            width: 100%;
            display: inline-block;
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: center;

            li {
                width: calc(25% - 20px);
                height: 150px;
                font-size: 20px;
                margin: 10px;
                display: inline-block;
                background-color: var(--color-black);
                color: var(--color-white);
                padding: 15px;
                font-weight: 800;
                position: relative;
                cursor: pointer;
                text-align: left;
                @include transition(all 0.2s linear);

                i {
                    position: absolute;
                    bottom: 0;
                    right: 10px;
                    font-size: 70px;
                    color: var(--color-white);
                }

                &.orange {
                    &:hover, &:active, &.active {
                        background-color: #FF9A17;
                        color: var(--color-black);
                        @include transition(all 0.2s linear);
                    }
                }

                &.yellow {
                    &:hover, &:active, &.active {
                        background-color: #FFCB17;
                        color: var(--color-black);
                        @include transition(all 0.2s linear);
                    }
                }

                &.green {
                    &:hover, &:active, &.active {
                        background-color: #17C583;
                        color: var(--color-black);
                        @include transition(all 0.2s linear);
                    }
                }

                &.blue {
                    &:hover, &:active, &.active {
                        background-color: #1BDCFE;
                        color: var(--color-black);
                        @include transition(all 0.2s linear);
                    }
                }

                &.red {
                    &:hover, &:active, &.active {
                        background-color: #F9225A;
                        color: var(--color-black);
                        @include transition(all 0.2s linear);
                    }
                }

                &.lemon {
                    &:hover, &:active, &.active {
                        background-color: #81CF07;
                        color: var(--color-black);
                        @include transition(all 0.2s linear);
                    }
                }

                @media screen and (max-width: 1024px) {
                    font-size: 16px;
                }
                @media screen and (max-width: 991px) {
                    width: calc(100% / 3);
                }
                @media screen and (max-width: 680px) {
                    font-size: 14px;
                    height: 100px;
                    i {
                        font-size: 50px;
                    }
                }
                @media screen and (max-width: 600px) {
                    width: 80%;
                }
            }
        }

        &.project_list_center{
            ul {

                li {
                    i {
                        position: initial;
                        bottom: initial;
                        right: initial;
                        font-size: 70px;
                        color: var(--color-white);
                    }
                    @media screen and (max-width: 1024px) {
                        font-size: 16px;
                    }
                    @media screen and (max-width: 991px) {
                        width: calc(100% / 3);
                    }
                    @media screen and (max-width: 680px) {
                        font-size: 14px;
                        height: 100px;
                        i {
                            font-size: 50px;
                        }
                    }
                    @media screen and (max-width: 600px) {
                        width: 80%;
                    }
                }
            }
        }

        .research_project_single {
            position: relative;
            text-align: center;

            .close-trigger {
                display: none;
            }

            @media screen and (max-width: 991px) {
                position: fixed;
                top: 50vh;
                left: 0;
                background-color: #ffffff;
                border-top: 1px solid #777777;
                height: 50vh;
                overflow-x: hidden;
                z-index: 1;
                .close-trigger {
                    display: inline-block;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
            }
        }
    }
}

/* Get In Touch */
.get_in_touch {
    width: 100%;
    display: block;
    position: relative;
    padding: 100px 0;
    background: linear-gradient(331deg, #000000, #000000, var(--theme-color), var(--theme-color));
    background-size: 240% 240%;
    animation: gradient-animation 32s ease infinite;
    @media screen and (max-width: 991px) {
        padding: 50px 0;
    }

    .section_title {
        font-size: 90px;
        text-align: center;
        color: var(--color-white);
        font-weight: bold;
        text-shadow: 0 0 3px var(--color-black);
        @media screen and (max-width: 767px) {
            font-size: 40px;
        }
    }

    .btn-get-touch {
        background: linear-gradient(331deg, var(--theme-color), var(--theme-color), #000000, #000000);
        background-size: 240% 240%;
        animation: gradient-animation 32s ease infinite;
    }

    .section_sub_title {
        font-size: 40px;
        text-align: center;
        color: var(--color-white);
        font-weight: bold;
        text-shadow: 0 0 3px var(--color-black);
        @media screen and (max-width: 767px) {
            font-size: 30px;
        }
    }

    .section_description {
        font-size: 25px;
        text-align: center;
        color: var(--color-white);
        text-shadow: 0 0 1px var(--color-black);
        @media screen and (max-width: 767px) {
            font-size: 20px;
        }
    }
}
