/* How It Works */
.page_how_it_works{
    .page_how_it_works_content{
        .work_items{
            .content{
                height: 100%;
                width: 100%;
                background-color: var(--color-white);
                border-radius: 8px;
                padding: 40px 0;
                text-align: center;
                .icon{
                    font-size: 30px;
                    color: var(--color-black);
                }
                .title{
                    padding: 0 20px;
                    color: var(--theme-color);
                    margin: 15px 0;
                    @media screen and (max-width: 767px) {
                        padding: 0 10px;
                    }
                }
                .desc{
                    padding: 0 40px;
                    color: var(--color-black);

                    @media screen and (max-width: 767px){
                        padding: 0 20px;
                    }
                }
            }
        }
    }
}
