// Typography
.text-theme{
    color: var(--theme-color);
}

// Button
.btn-theme{
    background-color: var(--theme-color);
    border-color: var(--theme-color);
    color: #ffffff;
    &:hover,&:active,&:focus{
        background-color: var(--theme-color-dark);
        border-color: var(--theme-color-dark);
        color: #ffffff;
    }
}


// Radius
.rounded-15{ border-radius: 15px; }
.rounded-10{ border-radius: 10px; }


// Swal
.swal-footer {
    text-align: center!important;
}
