 /**********************
 Responsive
 **********************/

.res{
    @media screen and (max-width: 991px) {
        margin: 0!important;
    }

    .cl{
        @media screen and (max-width: 767px) {
            padding: 0 5px 0 0!important;
        }
    }
    .avatar{
        @media screen and (max-width: 500px) {
            flex-direction: column;
            .w-160{
                margin: 10px 0 0!important;
            }
        }
    }
    .profile-buttons{
        @media screen and (max-width: 500px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
    .btn{
        &.w-160{
            width: 160px!important;
            @media screen and (max-width: 500px) {
                width: 100%!important;
                &:first-child{
                    margin: 0 0 10px!important;
                }
            }
        }
    }

    .preview-footer{
        display: flex;
        @media screen and (max-width: 1750px) {
            flex-direction: column;
        }
        .notes{
            width: 50%;
            @media screen and (max-width: 1750px) {
                width: 100%;
                margin-bottom: 40px;
            }
        }
        .total{
            width: 50%;
            text-align: right;
            @media screen and (max-width: 1750px) {
                width: 100%;
            }
        }
    }

    .page-title{
        @media screen and (max-width: 1200px) {
            font-size: 22px;
        }
    }

    .page-title-view{
        @media screen and (max-width: 1600px) {
            font-size: 24px;
        }
    }

    canvas{
        height: 300px!important;
        width: 500px!important;
        object-fit: contain;
        max-width: 100%;
        &#chart-month{
            width: 100%!important;
            max-width: 100%!important;
            object-fit: contain;
        }
    }
    &.dashboard{
        h3{
            @media screen and (max-width: 1275px){
                font-size: 20px;
            }
            @media screen and (max-width: 575px){
                font-size: 17px;
            }
        }
    }
    .invoice-type-btn{
        @media screen and (max-width: 440px) {
            display: flex;
            flex-direction: column;
            .btn-light{
                &:last-child{
                    margin-top: 10px;
                }
            }
        }
    }
}

